<div class="panel panel-default all">
  <div class="panel-heading"><strong>All Products</strong></div>
    <div class="panel-body">
      <div class="row">
        <%= render 'product' %>
      </div>
        <%= paginate @products %>
    </div>
  </div>
</div>

<div class="panel panel-default cart">
  <div class="panel-heading"><strong>Shopping Cart</strong></div>
    <div class="panel-body cart_contents">
      <% if session[:cart].empty? %>
        <p>Your cart is empty</p>
      <% else %>
        <% @cart.each do |item| %>
          <%= image_tag item.image_path %>
          <p><%= item.name %></p>
          <p>Price: <%= item.price %></p>
          <%= link_to 'Remove from Cart', remove_product_path(item.id), :method => :post %>
        <hr />
        <% end %>
      <% end %>
      <hr />
      <p>
        <% if session[:cart].empty? %>
          <p class="non_link">Clear Shopping Cart | Checkout</p>
        <% else %>
          <%= link_to 'Clear Shopping Cart', clear_cart_path, :method => :post %>
          | 
          <%= link_to 'Checkout', checkout_path %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="panel panel-default featured">
  <div class="panel-heading"><strong>Featured Items</strong></div>
    <div class="panel-body">
      <%= render 'featured_product' %>
    </div>
  </div>
</div>