<div class="panel panel-default all">
  <div class="panel-heading"><strong>National Basketball Association</strong></div>
    <div class="panel-body">
      <div class="category_search">
        <%= form_tag search_nba_path do %>
          <%= text_field_tag :keywords %>
          <%= submit_tag 'Search NBA' %>
        <% end %>
      </div>
      <div class="row">
        <% @nba.each do |product| %>
          <div class="all_products">
            <% if product.price < 13 %>
            <div class="thumbnail sale">
            <% else %>
            <div class="thumbnail">
            <% end %>
              <%= link_to (image_tag product.image_path), product %>
              <div class="caption">
                <p><strong>Price:</strong> $<%= product.price %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>