<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- MAIN NAVIGATION -->
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav navbar">
        <li><%= link_to 'On Sale', sale_path %></li>
        <li><%= link_to 'New', new_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">CFL</a></li>
            <li><a href="#">NFL</a></li>
            <li><a href="#">NHL</a></li>
            <li><a href="#">NBA</a></li>
            <li><a href="#">MLB</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
        <li class='search'>
          <%= form_tag search_results_path do %>
            <%= text_field_tag :keywords %>
            <%= submit_tag 'Search' %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  
<br />

<%= yield %>
 
<div id="footer">
  <div class="container">
    <p class="text-muted credit">Copyright &copy; 204Hats 2013</p>
  </div>
</div>
</body>
</html>