<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id='temp'>
  <span>
    TEMP SITE NAVIGATION:
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', about_path %>
    <%= link_to 'Contact', contact_path %>
  </span>
</div>

<header>

  <div id='login'>
    <span class='button'>Login</span>
    <span class='button'>About Us</span>
    <span class='button'>Contact Us</span>
  </div>

  <div id='shop'>
    <span class='button'>Shopping Cart</span>
    <span class='button'>Wish List</span>
    <span class='button'>Help</span>
  </div>
</header>

<%= yield %>

<footer>
  <span>Copyright &copy; 2013 204Hats.com</span>
</footer>
</body>
</html>
