<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand">204Hats</span>
      </div><!-- navbar-header -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About Us', about_path %></li>
          <li><%= link_to 'Contact Us', contact_path %></li>
          <li><%= link_to 'Login', root_path %></li>
        </ul>
      </div><!-- navbar-collapse collapse -->
    </div><!-- container -->
  </div><!-- navbar navbar-default navbar-static-top -->

  <div class="col-lg-6">
    <div class="input-group input-group-sm">
      <span class="input-group-addon">Product Search</span>
      <input type="text" class="form-control"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
    </div>
  </div>
<%= yield %>

  <div id="footer">
    <div class="container">
      <p class="text-muted credit">Copyright &copy; 204Hats 2013</p>
    </div>
  </div>
  
  
</div>

</body>
</html>
